* {
    margin: 0;
    padding: 0;
}
.logo-container img {
    width: 500px;
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 50px;
}

.content-container p {
    font-size: 28px;
}
